nav {
    margin-bottom: 15px;
    background-color: rgb(12, 75, 75);
}

a.nav-link {
    font-size: 14px;
    color: rgb(247, 245, 245);
    font-weight: 500;
}

a.nav-link:hover {
    color: rgb(1, 21, 39);
    /* font-weight: 600; */
    background-color: rgb(211, 228, 251);
}

a.navbar-brand {
    color: rgb(236, 244, 252);
    font-weight: 1000;
}
