.my-nav-header {
    margin-bottom: 15px;
    /* background-color: rgb(12, 75, 75); */
    border-bottom: 0.5px solid rgb(168, 168, 168);
}

a.nav-link {
    font-size: 13px;
    /* color: rgb(247, 245, 245); */
    font-weight: 500;
    color: rgb(58, 58, 58);
    font-family: 'Times New Roman', Times, serif;
}

a.nav-link:hover {
    color: rgb(1, 21, 39);
    /* font-weight: 600; */
    background-color: rgb(211, 228, 251);
}

a.nav-link span {
    font-size: 13px;
    /* color: rgb(247, 245, 245); */
    font-weight: 500;
    color: rgb(58, 58, 58);
    font-family: 'Times New Roman', Times, serif;
}

a.navbar-brand {
    margin-top: 5px;
    /* background-color: rgb(12, 75, 75); */
    /* padding: 0 15px */
}
