li.list-group-item {
    padding: 10px;
    border-right: 0;
    border-left: 0;
    border-top: 0;
}

li.list-group-item:last-child {
    border-radius: 0;
}

li.list-group-item:first-child {
    border-radius: 0;
}

li.list-group-item:hover {
    color: rgb(1, 49, 92);
    font-weight: 600;
    cursor: pointer;
}

li.list-group-item {
    font-size: 12px;
    font-weight: 300;
    font-family: "Quicksand",sans-serif;
    color: rgb(69, 69, 69);
}

li.list-group-item.active {
    background-color: rgb(130, 196, 253);
    color: black;
}
