div.my-content {
    /* border-right: 0.5px solid rgb(243, 243, 242); */
    /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
    /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
}


.card {
    border: 0.1px solid rgb(246, 244, 244);
    border-radius: 0;
}

.card:hover {
    border: 0.1px solid rgb(72, 164, 164);
}

.card-body {
    height: 50px;
    padding: 5px 10px 5px 10px;
}

.card-footer {
    border-top: 0.666667px solid rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    height: 40px;
    padding: 0 10px 0 10px;
}

.card-footer small {
    /* color: rgb(236, 23, 23); */
    color:black;
    font-size: 14px;
    font-weight: 750;
    /* font-family: monospace; */
    font-family: "Quicksand",sans-serif
}

p {
    color: rgb(33, 32, 32);
    font-size: 13px;
    font-family: "Quicksand",sans-serif
}

.col {
    padding: 2px;
}

/* pagination */
/* 
.page-link {
    color: rgb(32, 32, 32);
    font-size: 14px;
    font-weight: 500;
    border: 0;
}

.my-pagination-ul {
    border: 0;
}
 */
